<div ng-hide="vm.isLoggedIn()" id='wrapper'>
  <div id='preContentWrapper'>
    <div id="jumboContent">
      <h1 id="subHeader">See what's next.</h1>
      <h3>WATCH ANYWHERE. CANCEL ANYTIME</h3>
      <p>
        <button class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#register">
          Register
        </button>
      </p>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal fade" id="login" tabindex="-1" aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <p class="modalHeader">Web Reels</p>
        </div>
        <div id="forms">
          <!-- Login Form -->
          <form id="login-form" ng-submit="vm.login()">
            <div class="modal-body">
              <input type="text" id="email" class="form-control" placeholder="email" ng-model="vm.loginData.email" required>
              <input type="password" id="password" class="form-control" placeholder="password" ng-model="vm.loginData.password" required>
            </div>
            <div class="modal-footer">
              <div>
                <button id="buttonLogIn" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div ng-controller='UsersController as vm' class="modal fade" id="register"  aria-hidden="true" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <p class='modalHeader'>Web Reels</p>
        </div>

        <div id=" register-forms">
          <!-- Register Form -->
          <form ng-submit="vm.createUser()" id="register-form">
            <div class="modal-body">
              <input type="text" id="register-username" class="form-control" placeholder="username" ng-model="vm.userData.name" required>
              <input type="email" id="register-email" class="form-control" placeholder="email" ng-model="vm.userData.email" required>
              <input type="password" id="register-password" class="form-control" placeholder="password" ng-model="vm.userData.password" required>
            </div>
            <div class="modal-footer">
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Show this page when user logs in -->

<!-- Featured Movie in Jumbotron -->
<div ng-show="vm.isLoggedIn()" id="loggedInPage">
  <div ng-controller="HomeController as vm">
    <div class="jumbotron home row">
      <div>
        <div class="col-xs-4 featuredInfo">
            <h3 id="featuredTitle">{{ vm.featuredMovies.data.title }}</h3>
            <p id="featuredOverview">{{ vm.featuredMovies.data.overview }}</p>
            <div ng-click="vm.callToSelectedMovie('movie', vm.featuredMovies.data,'featured')" ui-sref="showPage" id="moreInfo">
              <h4>More Info</h4>
            </div>
        </div>
      </div>
    </div><br><br>

  <!-- Top Rated Movies Row -->
  <div class="contain movieList">
      <h3>Top Rated Movie Titles</h3>
    <div class="row movieList">
      <div class="innerRow">
        <div ng-repeat="movie in vm.topMovies" class="tile">
            <div ng-click="vm.callToSelectedMovie('movie', movie,'topRated')" ui-sref="showPage" class="tile__media">
              <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}' alt=""  />
            </div>
          <div class="tile__details">
            <div class="tileTitle">
              {{ movie.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popular Movies Row -->
  <div class="contain movieList">
      <h3>Popular Movie Titles</h3>
    <div class="row movieList">
      <div class="innerRow">

        <div ng-repeat="movie in vm.popularMovies" class="tile">
          <div ng-click="vm.callToSelectedMovie('movie', movie,'popular')" ui-sref="showPage" class="tile__media">
            <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}' alt=""  />
          </div>
          <div class="tile__details">
            <div class="tileTitle">
              {{ movie.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommended Movies Row -->
  <div class="contain movieList">
      <h3>Recommended Movie Titles</h3>
    <div class="row movieList">
      <div class="innerRow">

        <div ng-repeat="movie in vm.recommendedMovies" class="tile">
          <div ng-click="vm.callToSelectedMovie('movie', movie,'recommended')" ui-sref="showPage" class="tile__media">
            <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}' alt=""  />
          </div>
          <div class="tile__details">
            <div class="tileTitle">
              {{ movie.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popular Tv Row -->
    <div class="contain movieList">
        <h3>Popular Television Shows</h3>
      <div class="row movieList">
        <div class="innerRow">

          <div ng-repeat="tv in vm.popularTv" class="tile">
            <div ng-if="tv.backdrop_path">
              <div ng-click="vm.callToSelectedMovie('tv', tv,'popular')" ui-sref="showPage" class="tile__media">
                <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ tv.backdrop_path }}' alt=""  />
              </div>
              <div class="tile__details">
                <div class="tileTitle">
                  {{ tv.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


