<div id="searchWrapper">
<div class="contain movieList container">
    <h1>Search Results for "{{ search.query }}"</h1>
  <div class="row movieList">
    <div class="innerRow searchResults">
      <div ng-repeat="movie in search.searchResults" class="tile">
        <div ng-if="movie.backdrop_path">
            <div ng-click="search.callToSelectedSearchedMovie(movie.media_type, movie,'popular')" ui-sref="showPage" class="tile__media">
              <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}' alt=""  />
            </div>
          <div class="tile__details">
            <div ng-if="movie.title" class="tileTitle">
              {{ movie.title }}
            </div>
            <div ng-if="movie.original_name" class="tileTitle">
              {{ movie.original_name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
