<div id="showPage" ng-cloak>
<div class="container showBlock">
  <div class="row">
    <div class="col-xs-6" id="showImage">
      <img ng-src='https://image.tmdb.org/t/p/w300/{{ show.SelectedMovie.poster_path }}' alt=""  />
    </div>

    <div class="col-xs-6" id="showContent">
      <h1 ng-if="show.SelectedMovie.name" id="ShowMovieTitle">{{ show.SelectedMovie.name }}</h1><br>
      <h1 ng-if="show.SelectedMovie.title" id="ShowMovieTitle">{{ show.SelectedMovie.title }}</h1><br>
      <h4 ng-if="show.movieInfo.release_date">Release Date: {{ show.movieInfo.release_date }}</h4>
      <h4 ng-if="show.movieInfo.first_air_date">First Air Date: {{ show.movieInfo.first_air_date }}</h4>

      <h3>Overview</h3>
        <p>{{ show.SelectedMovie.overview }}</p>
        <p>Average Rating: <i class="fa fa-star" aria-hidden="true"></i>&nbsp;{{ show.movieInfo.vote_average }}</p>
        <p ng-if="show.movieInfo.runtime"><i class="fa fa-clock-o" aria-hidden="true"></i>Run Time: {{ show.movieInfo.runtime }}min</p>
        <p ng-if="show.movieInfo.number_of_seasons">Seasons: {{ show.movieInfo.number_of_seasons }}</p>
        <p ng-if="show.movieInfo.number_of_episodes">Episodes: {{ show.movieInfo.number_of_episodes }}</p>
        <button ng-click="show.addToWatchList()" data-toggle="modal" data-target="#confirmModal">Add to WatchList</button>
        <button ng-click="show.removeReelFromWatchList()">Remove WatchList</button>
    </div>
  </div>
</div>

<h3 class="showHeader">Trailer</h3>
<!-- Trailer -->
<div class="container">
  <div class="row">
      <div id="trailer" ng-if="show.movieInfo.videos.results[0].site==='YouTube'">
        <iframe align="center" width="700" height="400" align="center" ng-src='{{show.parseTrailer(show.movieInfo.videos.results[0].key)}}'>
        </iframe>
      </div>

  </div>
</div>
<br><br>
<!-- Cast Info -->
<div class="container cast">
  <div class="row">
      <h3 class="showHeader">Full Cast & Crew</h3>
    <div id="castInfo">
      <div ng-repeat="cast in show.movieInfo.credits.cast">
        <p>
          <img id="castImage" ng-src='https://image.tmdb.org/t/p/w45/{{ cast.profile_path }}' alt=""  />
          <span>{{ cast.name }}</span> as {{ cast.character }}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Related Movies/Shows -->
<div class="contain movieList">
    <h3 class="showHeader">Related Reels</h3>
  <div class="row movieList">
    <div class="innerRow">

      <div ng-repeat="movie in show.relatedInfo" class="tile">
        <div ng-if="movie.backdrop_path">
          <div ng-click="show.callToRelatedSelected(show.MediaCategory, movie,'popular', movie.genre_ids[0])" ui-sref="showPage({media:show.MediaCategory,id:movie.id})" class="tile__media">
            <img class="tile__img" ng-src='https://image.tmdb.org/t/p/w300/{{ movie.backdrop_path }}' alt=""  />
          </div>
          <div class="tile__details">
            <div ng-if="movie.title" class="tileTitle">
              {{ movie.title }}
            </div>
            <div ng-if="movie.name" class="tileTitle">
              {{ movie.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reel Added Modal -->
<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content showPage">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Reel added to watchlist</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
