
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <img ng-src='https://image.tmdb.org/t/p/w300/{{ show.SelectedMovie.poster_path }}' alt=""  />
    </div>

    <div class="col-xs-6">
      <h1 id="ShowMovieTitle">{{ show.SelectedMovie.title }}</h1>
        <p>{{ show.SelectedMovie.overview }}</p>
    </div>
  </div>
</div>

<hr>

<iframe width="420" height="315" ng-src='{{show.youTube}}'>
</iframe>
<hr>
<div ng-repeat="cast in show.movieInfo.credits.cast">
  {{ cast.name }}
</div>

