/*===============================*/
/*Navbar and Body*/
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/originals/0c/1b/54/0c1b541757e16d7c32736c0ec00d416f.jpg');*/
  background-size: cover;
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
}

.navbar {
  background-color: #070d3c;
  margin: 0px;
  color: royalblue;
}

/*=================================
/*Pre-log in Home Page*/
#wrapper {
  position: absolute;
/*  left: 0;
  margin: 0.3%;
  width: 94%;
  top: 35%;*/
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/0c/1b/54/0c1b541757e16d7c32736c0ec00d416f.jpg');

}

#preContentWrapper {
  left: 10px;
  position: absolute;
  top: 190px;
}
/*=================================*/
/*Jumbotron on Home Page*/
.jumbotron.home {
  /*background-image: url(https://image.tmdb.org/t/p/w1280/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding: 0px;
  margin: 0px;
}

#featuredTitle {
  font-weight: bold;
  text-align: center;
  color: red;
}

.featuredInfo {
  height: 350px;
  color: white;
  background-color: rgba(33, 31, 31, 0.60);
}

.featuredInfo > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

#moreInfo {
  text-align: center;
}

#moreInfo > h4 {
  background-color: royalblue;
  padding: 5%;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

#loggedInPage {
  background-color:black;
}
/*===========================*/
/*Register and log in modals*/
.modalHeader {
  color: black;
}

#sign-in, #sign-out {
  margin: 8px 8% 0;
  background-color: royalblue;
}

#login .modal-dialog {
    width: 350px;
}

#login input[type=text], input[type=password] {
  margin-top: 10px;
}

#register .modal-dialog {
    width: 350px;
}

#register input[type=text], input[type=password] {
  margin-top: 10px;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}
/*===========================*/
/*Netflix style Carousels Home Page CSS*/
.contain.movieList {
    width: 100%;
}

.row.movieList {
    overflow: scroll;
    width: 100%;
}

.innerRow {
    white-space: nowrap;
    transition: 450ms transform;
}

.tile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center;
}

.tileTitle {
  text-align: center;
}

/*==================*/
/*Show Page CSS*/
#showPage {
  background-color: black;
  height: 100%;
}

.showHeader {
  color: gold;
}

#showImage {
  left: 10%;
}

#showContent {
  right: 11%;
}
.container.showBlock {
  background-color: #002f46;
  margin: 0px;
  width: 100%;
}

#ShowMovieTitle {
  text-align: left;
  font-weight: bold;
}

#trailer {
  text-align: center;
}

.showHeader {
  text-align: center;
}

.container.cast {
  width: 100%;
  background-color: #0b0329;
}

#castInfo {
  text-align: left;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  -moz-column-gap: 40px;
  /*background-color: #0b0329;*/
}

#castInfo span {
  font-weight: bold;
  color: red;
}

#castImage {
  border: 1px solid gold;
  border-radius: 12%;
}
a { color: #00B7FF; }

/*============================*/
/*Search Results CSS*/
.innerRow.searchResults {
  white-space: normal;
}

#searchWrapper {
  background-color: black;
/*  height: 100vh;
  position: fixed;*/
}

#searchWrapper h1 {
  margin-top: 0px;
  padding-top: 10px;
}
